*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Manrope", sans-serif;
	background-color: hsl(218, 23%, 16%);
	color: hsl(193, 38%, 86%);
	line-height: 1;
	font-weight: 400;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.wrapper {
	max-width: 400px;
	text-align: center;
	padding: 36px 24px 46px;
	border-radius: 12px;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
	background-color: hsl(217, 19%, 24%);
	position: relative;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.wrapper h2 {
	color: hsl(150, 100%, 66%);
	font-weight: normal;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 4px;
	text-transform: uppercase;
}

.quotes {
	font-size: 18px;
}

blockquote {
	font-size: 28px;
	line-height: 1.5;
	font-weight: 800;
}

button {
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translate(-50%, 0);
	border: none;
	padding: 12px;
	border-radius: 50px;
	background-color: hsl(150, 100%, 66%);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
